@import 'variables';

main {
  background: $xam;
  //min-height: 100vh;
  padding-bottom: 66px;
  .wrapper {
    max-width: 600px;
  }
}


.section_data {
  padding: 20px;
  border-radius: 8px;
  background: white;
  margin-top: 20px;
  display: grid;
  gap: 15px;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 15px;
}

.item {
  h3 {
    margin-bottom: 5px;
  }
}

/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
}

@media (max-width: 767px) {
  main {
    padding-bottom: 150px;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 575px) {
}
