@import "variables";

/* Main slider */
.section-main-slider .slick-slide img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section-main-slider {
  .slide_left {
    .h2 {
      background: linear-gradient(to right, #895500, #F0C964, #EABD54, #925E08, #EABD54, #EABD54);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 700;
    }
    .xacnhan {
      width: 180px;
    }
  }
}/* End main slider */

.section-banner-slider {
  position: relative;
  padding-top: 0px; // revert to 140px with slider
  .slide-arrows {
    img {
      position: absolute;
      z-index: 1;
      top: 40%;
      color: white;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      cursor: pointer;
      background: linear-gradient(to bottom, #895500, #F0C964, #925E08, #EABD54);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      border: none;
      height: 24px;
      font-weight: 600;
      &:hover {
        opacity: 0.75;
      }
      @media (min-width: 768px) {
        height: 30px;
      }
      @media (min-width: 992px) {
        height: 40px;
      }
      @media (min-width: 1200px) {
        top: 50%;
      }
    }
    img:first-of-type {
      left: 10px;
      @media (min-width: 768px) {
        left: 15px;
      }
    }
    img:last-of-type {
      right: 10px;
      @media (min-width: 768px) {
        right: 15px;
      }
    }
  }

  .slick-dots {
    display: flex;
    gap: 0px;
    justify-content: center;
    position: relative;
    top: -40px;
    @media (max-width: 576px) {
      top: -20px;
    }
  }
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000;
  }
  .slick-dots li button:before {
    //content: "•";
  }

  .slick-dots li.slick-active {
    background: #e9c15d;
    border: 1px solid #FEF0AD;
    padding: 6px;
    @media (max-width: 576px) {
      padding: 3px;
    }
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    list-style: none;
    border: 1px solid #EABD54;
    border-radius: 50%;
    background: white;
    @media (max-width: 576px) {
      width: 6px;
      height: 6px;
    }
  }

  .slick-dots li button {
    color: transparent;
  }

  .section-main-slider.sp {
    .slide_item {
      position: relative;
      .text {
        position: absolute;
        top: 45px;
        left: 34px;
        .xacnhan {
          color: white;
          font-size: 16px;
          font-style: italic;
          border: 2px solid #efc660;
          border-radius: 30px;
          background: linear-gradient(to right, #AE7B1F, #F0C964, #EABD54, #9B670F);
          text-align: center;
          padding: 0;
          font-size: 12px;
          width: 120px !important;
        }
        .h2 {
          background: linear-gradient(to right, #895500, #F0C964, #EABD54, #925E08, #EABD54, #EABD54);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }

  .section-main-slider {
    .slide_item {
      background-image: url($domain + "image/home/banner2x.webp");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 550px;

      .slide_left {
        margin-top: 160px;
        padding-left: 110px;
        .h2 {
          font-size: 2rem;
          @media (min-width: 1200px) {
            font-size: 2.5rem;
          }
          line-height: 1.4;
        }
      }

      @media (min-width: 1400px) {
        height: 650px;
        .slide_left {
          margin-top: 140px; // revert to 210px with slider
          padding-left: 12%;
          .h2 {
            font-size: 2.75rem;
          }
        }
      }

      @media (min-width: 1600px) {
        height: 760px;
        .slide_left {
          margin-top: 140px; // revert to 280px with slider
          padding-left: 15%;
          .h2 {
            font-size: 2.85rem;
          }
        }
      }

      @media (min-width: 1800px) {
        .slide_left {
          padding-left: 20%;
          .h2 {
            font-size: 3rem;
            line-height: 1.45;
          }
          .xacnhan {
            font-size: 20px;
            margin-top: 30px;
          }
        }
      }

      @media (max-width: 1200px) {
        height: 490px;
        .slide_left {
          margin-top: 0px; // => to 0px with slide
          padding-left: 100px;
          .xacnhan {
            font-size: 20px;
            width: 230px !important;
            padding: 2px 0px;
          }
        }
      }

      @media (max-width: 992px) {
        height: 370px;
        .slide_left {
          margin-top: 0px; // revert tp 150px with slider
          padding-left: 85px;
          .xacnhan {
            font-size: 16px;
            width: 180px !important;
            padding: 2px 0px;
          }
        }
      }

      @media (max-width: 768px) {
        height: auto; // revert tp 350px with slider
        .slide_left {
          margin-top: 0px; // revert tp 130px with slider
          padding-left: 70px;
          .xacnhan {
            font-size: 16px;
          }
        }
      }

      @media (max-width: 576px) {
        height: 200px;
        .slide_left {
          margin-top: 0px; // revert tp 55px with slider
          padding-left: 34px;
          .h2 {
            font-size: 15px;
          }
          .xacnhan {
            font-size: 14px;
            width: 150px !important;
            padding: 2px 0px;
          }
        }
      }
    }
    .xacnhan {
      margin: 0;
      margin-top: 20px;
      @media (max-width: 768px) {
        margin-top: 0px;
      }
      cursor: pointer;
      width: 200px;
      padding: 4px;
      a {
        color: white;
        font-style: normal;
      }
    }
  }
}

.section-newspaper-about-wowtop {
  padding: 30px 0px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

/* Banner slider */
.dot-circle-inside {
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    li {
      margin: 0;
      @media (min-width: 768px) {
        margin: 0 5px;
      }
    }
    button {
      background: #2C5D6C;
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #000;
      text-indent: -9999px;
      @media (min-width: 1200px) {
        width: 12px;
        height: 12px;
      }
    }
    li.slick-active button {
      background: #2C5D6C !important;
      opacity: 1;
    }
    .slick-active button:before {
      background: #fff;
    }
  }
}
/* End Banner slider */

.section .title {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, #6E490A, #C7831B, #C5821A, #6E490A);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section {
  margin-top: 90px;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.xacnhan {
  color: white;
  font-size: 16px;
  font-style: italic;
  border: 2px solid #efc660;
  border-radius: 30px;
  background: linear-gradient(to right, #AE7B1F, #F0C964, #EABD54, #9B670F);
  text-align: center;
  margin: 0 auto;
  width: 200px;
  margin-top: 50px;
}

.section_sailam {
  margin-bottom: 0;
  margin-top: 90px;
  @media (max-width: 768px) {
    margin-top: 50px;
    .title {
      margin-bottom: 25px;
    }
  }
  .wrapper {
    position: relative;
    z-index: 3;
    > img {
      width: 150px;
      position: absolute;
      bottom: -40px;
      left: -25px;
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
  .content {
    padding: 20px;
    background: linear-gradient(to right, rgb(189, 152, 64, 0.2), rgb(254, 240, 173, 0.2), rgb(234, 189, 84, 0.2), rgb(234, 189, 84, 0.2));
    color: #313149;
    border: 2px solid transparent;
    border-radius: 20px;
    display: inline-block;
    @media (max-width: 576px) {
      padding: 12px;
    }
  }
  .sailam_item {
    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
    img {
      text-align: center;
      object-fit: contain;
      margin: 0 auto ;
      @media (max-width: 576px) {
        width: 100px;
      }
    }
    p:first-of-type {
      font-size: 21px;
      font-weight: 600;
      color: #84571B;
      text-align: center;
      margin: 10px 0;
      @media (max-width: 576px) {
      }
    }
    p:last-of-type {
      text-align: justify;
      color: #84571B;
    }
  }
  .row_1 {
    margin-bottom: 30px;
  }
  .row_2 {
    .sailam_item {
      img {
        @media (max-width: 576px) {
          width: 100px;
        }
      }
      p:last-of-type {
        padding: 0 118px;
        text-align: center;
        @media (max-width: 768px) {
          padding: 0 15px;
          text-align: justify;
        }
      }
    }
  }
}

/* Section chuyen gia */
.section-chuyen-gia {
  .wrapper {
    padding: 0px 15px;
    .titleX {
      text-align: center;
      margin-bottom: 56px;
      background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      img {
        margin: 4px auto;
        text-align: center;
        width: 50%;
      }
    }
    .left {
      padding-right: 20px;
    }
    .right {
      padding-left: 20px;
      color: #84571B;
    }
    .r1 {
      font-size: 16px;
      text-align: justify;
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
    .line {
      text-align: center;
      margin: 15px auto;
    }
    .r2 {
      margin-bottom: 20px;
      font-size: 16px;
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
    .more {
      color: #CE8E00;
      display: inline-block;
      font-size: 16px;
      border-bottom: 1px solid #84571b;
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
}
/* End section chuyen gia */

.section-kinh-nghiem {
  .wrapper {
    padding: 50px 15px 50px 15px;
    .title {
      margin-top: 0;
      background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 700;
    }
  }
  .list-kinh-nghiem {
    display: flex;
    flex-wrap: wrap !important;
    .kinh-nghiem-item {
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
      margin-bottom: 10px;
      width: calc(25% - 10px);
      padding: 10px 10px 0 10px;
      border-radius: 10px;
      &:not(:nth-of-type(4n)) {
        margin-right: 10px;
      }
      @media (max-width: 992px) {
        width: calc(33.33% - 10px);
        &:not(:nth-of-type(3n)) {
          margin-right: 10px;
        }
      }
      @media (max-width: 768px) {
        width: calc(50% - 10px);
        &:not(:nth-of-type(2n)) {
          margin-right: 10px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  .post_title {
    color: #2C5D6B;
    font-size: 20px;
    margin: 15px 0 15px;
    font-weight: 500;
    height: 52px;
  }
  .more {
    color: #2C5D6B;
    margin: 15px 0 20px;
    display: inline-block;
    border-bottom: 1px solid #2C5D6B;
    &:hover {
      opacity: 0.85;
    }
  }
}

.section_title {
  color: #3594A6;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat-Bold", sans-serif;
}

.section-feeling {
  position: relative;
  .slide-arrows i {
    top: 40%;
  }
  .slide-cam-nhan {
    display: flex;
    padding: 0 30px;
    .cam-nhan-item {
      margin: 0 8px;
      border-bottom-right-radius: 80px;
      .text {
        background: #3594A6;
        padding: 15px;
        height: 107px;
      }
    }
  }
  .slick-dots {
    bottom: -55px;
  }
}

.border_x {
  position:relative;
  z-index: 1;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-bottom: 2px solid #3595A6;
    width: 100px;
  }
}

.section_customer_feel {
  .wrapper {
    background: #B0CECE;
    h2 {
      padding: 30px 0;
      margin: 10px 0 0 0;
      font-weight: 500;
      text-align: left;
    }
  }
  .fell_content {
    position: relative;
    .img_left {
      float: left;
      z-index: 2;
      position: absolute;
      left: 0px;
      top: 0px;
      color: #FFFFFF;
      font-weight: bold;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @media (max-width: 768px) {
        display: none;
      }
      @media (min-width: 769px) {
        width: 408px;
        height: 399px;
      }
      @media (min-width: 1200px) {
        width: 490px;
        height: 479px;
      }
    }
    .fell_content_slide {
      text-align: right;
      position: relative;
      top: 0;
      z-index: 2;
      @media (max-width: 768px) {
        padding-left: 0px;
      }
      @media (min-width: 769px) {
        padding-left: 275px;
        top: 30px;
      }
      @media (min-width: 1200px) {
        padding-left: 350px;
        top: 50px;
      }
      .slide-arrows {
        padding-right: 15px;
        margin-bottom: 10px;
      }
      #customer-fell-arrow-left, #customer-fell-arrow-right {
        font-size: 16px;
        border: 1px solid #33757C;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 26px;
        text-align: center;
        display: inline-block;
        color: #33757C;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
      .item_slide_feel {
        background: white;
        color: #33757C;
        border-radius: 15px;
        margin: 0 15px;
        @media (max-width: 768px) {
          padding: 15px;
        }
        @media (min-width: 769px) {
          padding: 15px 15px 30px 15px;
        }
        @media (min-width: 1200px) {
          padding: 30px 30px 45px 30px;
        }
        .desc_feel {
          text-align: left;
          font-size: 18px;
        }
        .item_slide_feel_info {
          display: flex;
          margin-top: 20px;
          > div {
            text-align: left;
          }
          .bold {
            font-family: "Montserrat-Bold", sans-serif;
            font-size: 18px;
          }
          img {
            width: 66px;
            height: 66px;
            border-radius: 50%;
            margin-bottom: 15px;
            margin-right: 15px;
            object-fit: cover;
          }
          .fa {
            color: #FFD583;
          }
          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }
    .dot-circle-inside {
      .slick-dots {
        bottom: -75px;
        //@media (max-width: 768px) {
        //  bottom: -75px;
        //}
        li {
          width: 35px;
          margin: 0 5px;
        }
        li.slick-active {
          button {
            width: 100%;
            height: 4px;
            border-radius: 0;
            background: #3595A6;
            left: 5px;
            &:before {
              position: relative;
            }
          }
        }
        button {
          background: #C3D0D0;
          border-radius: 0;
          width: 100%;
          height: 4px;
          top: 0;
          margin: 0;
        }
      }
    }
  }
}

.section_customer_feel {
  .feel_head {
    background: #C9E2DE;
    font-family: "Montserrat-Medium", sans-serif;
    @media (max-width: 768px) {
      padding: 30px 0 75px 0;
    }
    @media (min-width: 769px) {
      padding: 30px 0 175px 0;
    }
    @media (min-width: 1200px) {
      padding: 30px 0 220px 0;
    }
    h2 {
      margin-bottom: 30px;
      margin-top: 0;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
}

.section-kinh-nghiem {
  .kinh-nghiem-left > .bold, .kinh-nghiem-right > .bold {
    font-size: 28px;
    margin-bottom: 5px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .line {
    display: flex;
    margin-bottom: 30px;
    > div:first-of-type {
      width: 82px;
      height: 2px;
      background:#84571b;
      margin-right: 10px;
    }
    > div:last-of-type {
      width: 52%;
      height: 2px;
      background:#DDE3DF;
    }
  }

  img {
    border-radius: 8px;
    object-fit: cover;
  }
  .thumnail_title {
    a {
      color: #84571B;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .show_all_post {
    color: #84571B;
    border: 1px solid #84571B;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 12px;
    box-shadow: 1px 0px 1px 0px;
    font-size: 14px;
  }
  .kinh_nghiem_post_date {
    color: #84571B;
  }
  .kinh_nghiem_des {
    color: #4F4F4F;
    text-align: justify;
  }
  .kinh_nghiem_author {
    color: #84571B;
    margin-top: 5px;
  }
  .tip_content_item {
    .number {
      position: relative;
      top: -5px;
      text-align: right;
      right: -16px;
      font-size: 17px;
    }
  }

  .kinh-nghiem {
    .block_chuyen_gia {
      display: flex;
      @media (max-width: 768px) {
        align-items: center;
      }
      .thumnail_title {
        font-size: 23px;
        margin-top: 30px;
        @media (max-width: 768px) {
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .kinh_nghiem_des {
        margin: 15px 0;
        @media (max-width: 768px) {
          margin: 5px 0;
        }
      }
    }
  }
}

.section_truyen_hinh {
  .wrapper {
    padding: 30px 15px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    iframe {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .text {
      width: 50%;
      text-align: center;
      margin: 30px auto 0 auto;
      color: #050505;
      font-weight: 600;
      font-family: "Bahnschrift", sans-serif;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.section_recipe {
  .section_recipe_logo {
    display: block;
    @media (min-width: 767px) {
      display: none;
    }
    > img {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }
  }
  .wowtop_img_block {
    display: none;
    @media (min-width: 768px) {
      display: block;
      position: relative;
    }
  }
  .wowtop_img {
    width: auto !important;
    width: 100%;
    position: absolute;
    z-index: 0;
    @media (min-width: 768px) {
      max-width: 500px;
      left: -70px;
    }
    @media (min-width: 1200px) {
      max-width: 674px;
    }
  }
  .recipe_item {
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    > div {
      color: #3595A6;
    }
  }
  .recipe_item_1 {
    @media (min-width: 768px) {
      margin-bottom: 190px;
    }
  }
  .image_gift {
    position: relative;
    h3 {
      color: white;
      position: absolute;
      right: 0;
      top: 25%;
      text-align: right;
      z-index: 2;
      padding-right: 30px;
      line-height: 1.25;
      @media (min-width: 1200px) {
        font-size: 36px;
      }
      @media (max-width: 639px) {
        font-size: 16px;
        padding-right: 15px;
      }
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
  }
}


@media (max-width: 767px) {
  .section_customer_feel {
    .fell_content {
      .fell_content_slide {
        .item_slide_feel {
          .desc_feel {
            font-size: 16px;
          }
        }
        .item_slide_feel_info {
          .bold {
            font-size: 16px !important;
          }
        }
      }
    }
  }

  .section_customer_feel .fell_content .fell_content_slide .item_slide_feel .item_slide_feel_info img {
    width: 50px;
    height: 50px;
  }
}

.section_tang_chieu_cao {
  background-image: url($domain + "image/home/pt-bg-yellow.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 58px;
  padding-top: 30px;
  .content {
    position: relative;
    .nen-xanh {
      position: absolute;
      bottom: 0;
      left: -165px;
      width: 500px;
      z-index: 1;
    }
    .contentx {
      position: relative;
      z-index: 2;
    }
  }
  .wrapper {
    width: 835px;
    .h2 {
      font-size: 30px;
    }
    @media (min-width: 768px) {
      padding: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 768px !important;
      .h2 {
        font-size: 28px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 835px !important;
    }
  }
  .title {
    margin-bottom: 30px;
    background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.3;
    text-align: center;
    @media (max-width: 576px) {
      font-size: 22px !important;
    }
  }
  .content {
    .title1 {
      margin-bottom: 60px;
      border: 1px solid #996E30;
      border-radius: 50px;
      padding: 0px 38px;
      span {
        font-style: italic;
        color: #996E30;
        border-radius: 25px;
        font-weight: 500;
        display: inline-block;
        top: -15px;
        line-height: 1.25;
        background: #FFFEF7;
        position: relative;
        padding: 0 20px;
        font-size: 16px;
        text-align: center;
      }
    }
    p {
      color: #135689;
      text-align: justify;
    }
    div.row_2 {
      margin-left: 12px;
      margin-right: 12px;
      margin-top: 30px;
      background-image: url($domain + "image/home/aa2.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 20px 20px 30px 20px;
      border-radius: 20px;
      border: 2px solid white;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
      margin: 0 auto;
      margin-top: 40px;
      color: #135689;
      text-align: justify;
      position: relative;
      > img.pc {
        position: absolute;
        right: 0;
        display: none;
        width: 300px;
        top: -40px;
        display: none;
        @media (min-width: 576px) {
          display: block;
          right: -22px;
          width: 300px;
          top: -30px;
        }
        @media (width: 576px) {
          top: -18px;
        }
        @media (min-width: 768px) {
          width: 300px;
          top: -36px;
        }
        @media (min-width: 992px) {
          //width: 300px;
          top: -40px;
        }
      }
      img.sp {
        display: block;
        width: 200px;
        margin: 0 auto;
        @media (min-width: 576px) {
          display: none;
        }
      }
      @media (max-width: 992px) {
        //width: 650px;
      }
      @media (max-width: 576px) {
        width: 385px;
        margin: 0 auto;
        margin-top: 30px;
      }
      span {
        @media (min-width: 576px) {
          width: 55%;
          display: inline-block;
        }
      }
    }
    .row {
      .c {
        img {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 15px;
          height: 175px;
        }
      }
      @media (min-width: 768px) {
        .c:first-of-type {
          padding-right: 20px;
        }
        .c:last-of-type {
          padding-left: 20px;
        }
      }
    }
    .leftx {
      //background: linear-gradient(to bottom, #FDFEFF, #D9EBFF);
      padding: 20px 20px 30px 20px;
      border-radius: 20px;
      border: 2px solid white;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
      height: 100%;

      background-image: url($domain + "image/home/aa1.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      margin-left: auto;
      @media (max-width: 992px) {
        //width: 300px;
      }
      @media (max-width: 576px) {
        text-align: center;
        margin: 0 auto;
      }
    }
    .rightx {
      background: linear-gradient(to bottom, #FAEDC8, #F8F7F3);
      padding: 20px 20px 30px 20px;
      border-radius: 20px;
      border: 2px solid white;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
      height: 100%;

      @media (max-width: 992px) {
        //width: 300px;
      }
      @media (max-width: 576px) {
        text-align: center;
        margin: 0 auto;
      }
      @media (width: 576px) {
        padding-bottom: 72px;
        height: auto;
      }
    }
  }
}

//========== BREAKPOINT MAX-WIDTH 1200PX  ==========
@media (max-width: 1200px) {
  .section-banner-slider {
    padding-top: 0;
  }
}
//========== BREAKPOINT END MAX-WIDTH 1200PX  ==========

//========== BREAKPOINT MAX-WIDTH 992PX  ==========
@media (max-width: 992px) {
  .section_sailam {
    .row_1 {
      margin-bottom: 0;
    }
    .row_2 {
      .sailam_item {
        p:last-of-type {
          padding: 0 80px;
        }
      }
    }
  }
}
//========== BREAKPOINT END MAX-WIDTH 992PX  ==========

//========== BREAKPOINT MAX-WIDTH 768PX  ==========
@media (max-width: 768px) {
  .left {
    padding-right: 0px;
  }
  .right {
    padding-left: 0px;
  }

  .section_tang_chieu_cao {
    .content {
      .rightx, .leftx {
        width: 100%;
      }
      div.row_2 {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}
//========== BREAKPOINT END MAX-WIDTH 768PX  ==========

//========== BREAKPOINT MAX-WIDTH 576PX  ==========
@media (max-width: 576px) {
  .section_sailam {
    .row_1 {
      margin-bottom: 0;
    }
    .row_2 {
      .sailam_item {
        p:last-of-type {
          padding: 0;
        }
      }
    }
  }

  .xacnhan {
    font-size: 14px;
    width: 180px !important;
  }

  .section_tang_chieu_cao {
    .content {
      padding: 0;
      .row {
        .c:first-of-type {
          margin-bottom: 30px;
        }
      }
      .title1 {
        margin-bottom: 30px;
        padding: 0px 16px;
        span {
          font-size: 12px;
          text-align: center;
          padding: 0 6px;
        }
      }
    }
  }

  .section-banner-slider .slide-arrows i {
    top: 30%;
  }
}
//========== BREAKPOINT END MAX-WIDTH 576PX  ==========

//========== BREAKPOINT 576PX  ==========
@media (width: 576px) {
  .section-banner-slider .section-main-slider .slide_item {
    //height: 250px;// revert to 250px with slider
    height: auto;// revert to 250px with slider
    .slide_left {
      margin-top: 0px; // revert to 75px with slider
      padding-left: 60px;
      .h2 {
        font-size: 18px;
      }
    }
  }

  .section_tang_chieu_cao {
    .content {
      div.row_2 {
        margin-top: 0px;
      }
    }
  }
}
// ========== END BREAKPOINT 576PX ==========

// ========== BREAKPOINT MAX-WIDTH 414PX ==========
@media (max-width: 414px) {
}
// ========== END BREAKPOINT MAX-WIDTH 414PX ==========

// ========== BREAKPOINT MAX-WIDTH 435PX ==========
@media (max-width: 435px) {
  .section-banner-slider .section-main-slider .slide_item .slide_left {
    margin-top: 0px; // revert to 50px with slider
    .h2 {
      font-size: 14px;
    }
    .xacnhan {
      font-size: 12px;
      width: 120px !important;
      padding: 0px 0px;
    }
  }
  .section-banner-slider .section-main-slider .slide_item {
    height: auto; // revert to 180px with slider
  }
}
// ========== END BREAKPOINT MAX-WIDTH 435PX ==========


.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
