.section-address-contact .wrapper i{
  color: white;
  background: green;
  border-radius: 50%;
  font-size: 16px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
  line-height: 35px;
}
