@import "variables";

@media (min-width: 1200px) {
  .h1 {
    font-size: 46px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 30px;
  }
}

.section-products {
  @media (max-width: 576px) {
    padding-top: 0;
  }
}

.wrapper992 {
  margin: 0 auto;
  height: 100%;
  width: 992px;
  padding: 0 15px;
  @media (max-width: 992px) {
    max-width: 992px !important;
    width: 100% !important;
  }
}

.section .title {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, #6E490A, #C7831B, #C5821A, #6E490A);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section {
  margin-top: 90px;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.wrapper_mini {
  padding: 0 15px;
  @media (min-width: 768px) {
    padding: 0 100px;
  }
}

.slide-arrows {
  img {
    position: absolute;
    z-index: 1;
    top: 40%;
    color: white;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    background: linear-gradient(to bottom, #895500, #F0C964, #925E08, #EABD54);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: none;
    height: 24px;
    font-weight: 600;
    &:hover {
      opacity: 0.75;
    }
    @media (min-width: 768px) {
      height: 30px;
    }
    @media (min-width: 992px) {
      height: 40px;
    }
    @media (min-width: 1200px) {
      top: 50%;
    }
  }
  img:first-of-type {
    left: 10px;
    @media (min-width: 768px) {
      left: 15px;
    }
  }
  img:last-of-type {
    right: 10px;
    @media (min-width: 768px) {
      right: 15px;
    }
  }
}

// ========== custom scroll y ==========
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// ========== end custom scroll y ==========

.section_banner {
  margin-top: 50px;
  background-image: url($domain + "image/product/bgr-sua.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    background-size: 100% 100%;
  }
  width: 100%;
  .rowrow {
    padding-bottom: 100px;
    @media (max-width: 768px) {
      .logoLeft {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }
  }
  .banner_right {
    .scroll {
      text-align: justify;
      @media (min-width: 768px) {
        height: 585px;
        overflow-y: scroll;
        padding-right: 50px;
        scrollbar-width: auto;
      }
    }

    .h3 {
      color: #845618;
      font-weight: 700;
    }
    .suabot750 {
      color: #84571B;
      font-size: 20px;
      font-weight: 500;
    }
    .sohuu {
      color: #D9A834;
      font-size: 14px;
      margin: 12px 0;
      font-weight: 500;
    }
    .dd {
      font-size: 14px;
      color: #161616;
      font-weight: 500;
    }
    img.logo {
      margin: 16px 0;
    }
    ul {
      margin-bottom: 30px;
      li {
        color: #D9A834;
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 8px;
        img.tich {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
    .btn_muangay {
      position: relative;
      .muangay {
        width: 220px;
        cursor: pointer;
      }
      .muangay_txt {
        color: #84571c;
        position: absolute;
        top: 8px;
        font-size: 30px;
        left: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.section_chungchi {
  margin-top: 50px;
  .left {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .wrapper992 {

  }
  .rowcc {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  .slide_chung_chi {
    position: relative;
  }
  .thuonghieu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .th {
      width: 100px;
      @media (max-width: 768px) {
        width: 75px;
      }
    }
  }
  .textchungchi {
    background-image: url($domain + "image/product/artboard_12.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 25px 20px 35px 20px;
    .content {
      text-align: center;
      .h3 {
        font-weight: 600;
        margin-bottom: 12px;
      }
      .text {
        font-size: 15px;
        text-align: justify;
        font-weight: 500;
      }
    }
  }
  .section_main_slider_chung_chi {
    .slide_item {
      .img_slide {
        width: 45%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.section_cac_buoc_tang_cc {
  margin-bottom: 50px;
  .wrapper992 {
    .title_sph {
      margin-bottom: 30px;
      font-size: 24px;
      @media (min-width: 576px) {
        font-size: 28px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
      }
      @media (min-width: 1400px) {
        font-size: 50px;
      }
    }
    .content {
      .row {
        align-items: center;
      }
    }
    .buoc_title {
      background-image: url($domain + "image/product/artboard_23.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      .h3 {
        background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: relative;
        top: -20px;
        font-weight: 700;
      }
    }

    .item_tang_cc {
      .number {
        color: #edb000;
        font-style: italic;
        font-size: 50px;
        font-weight: 500;
        margin-right: 20px;
      }
      .txt {
        color: #84571B;
        font-weight: 500;
      }
      .row1 {
        display: flex;
        align-items: center;
      }
    }

    .img_right_tang_cc {
      width: 250px;
      margin: auto;
      @media (max-width: 768px) {
        width: 60%;
        margin: 0 auto;
        text-align: center;
      }
      @media (max-width: 576px) {
        width: 165px;
      }
    }
  }
}

.section_pt_toan_dien {
  .wrapper992 {
    .head {
      text-align: center;
      line-height: 2.5;
      .buoc_title {
        .h3 {
          background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
        }
      }
      .row2 {
        background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-weight: 600;
      }
      .nhocongthuc {
        color: #895501;
        font-weight: 600;
      }
      .vuottroi {
        color: white;
        padding: 6px 24px;
        background: #84581b;
        border-radius: 8px;
        margin-left: 12px;
        font-weight: 700;
      }
    }

    .head2 {
      background-image: url($domain + "image/product/con-cao-vut.png");
      font-weight: 600;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-align: center;
      padding: 15px 0;
      margin-top: 36px;
      margin-bottom: 15px;
      .head2_text {
        top: 30%;
        color: #E0A000;
        > span {
          color: #AA6100;
        }
      }
    }
    .head3 {
      background-image: url($domain + "image/product/bgr-giot.webp");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
      height: 435px;
      .h3t1 {
        font-size: 10px;
        color: #84571B;
        position: absolute;
        left: 53px;
        top: 6px;
        span:last-of-type {
          margin-top: 6px;
        }
      }
      .h3t2 {
        span {
          background: linear-gradient(to right, #c7831b, #6e490a);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
          position: absolute;
        }
        span:first-of-type {
          top: 100px;
          left: 70px;
        }
        span:last-of-type {
          top: 115px;
          left: 125px;
        }
      }
      .h3t3 {
        font-size: 10px;
        position: absolute;
        top: 190px;
        right: 50px;
        span:first-of-type {
          background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
        }
        .s2 {
          background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          text-transform: uppercase;
          font-weight: 600;
        }
        span:last-of-type {
          background: linear-gradient(to right, #c7831b, #6e490a);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-weight: 700;
          margin-top: 10px;
          display: inline-block;
        }
      }
      @media (min-width: 430px) {
        .h3t1 {
          left: 62px;
          top: 6px;
        }
        .h3t2 {
          span:first-of-type {
            top: 100px;
            left: 90px;
          }
          span:last-of-type {
            top: 115px;
            left: 145px;
          }
        }
        .h3t3 {
          top: 185px;
          right: 55px;
        }
      }

      @media (min-width: 576px) {
        height: 650px;
        .h3t1 {
          font-size: 12px;
          left: 110px;
        }
        .h3t2 {
          span:first-of-type {
            top: 165px;
            left: 120px;
          }
          span:last-of-type {
            top: 175px;
            left: 198px;
          }
        }
        .h3t3 {
          font-size: 12px;
          top: 285px;
          right: 100px;
        }
      }
      @media (min-width: 768px) {
        height: 900px;
        .h3t1 {
          font-size: 20px;
          left: 126px;
          top: 12px;
        }
        .h3t2 {
          span:first-of-type {
            top: 226px;
            left: 165px;
          }
          span:last-of-type {
            top: 255px;
            left: 270px;
          }
        }
        .h3t3 {
          font-size: 20px;
          top: 385px;
          right: 105px;
          span:last-of-type {
            margin-top: 25px;
          }
        }
      }
      @media (min-width: 992px) {
        height: 1100px;
        .h3t1 {
          font-size: 24px;
        }
        .h3t3 {
          font-size: 24px;
        }
      }
      @media (min-width: 1024px) {
        height: 1100px;
        .h3t1 {
          left: 170px;
        }
        .h3t2 {
          span:first-of-type {
            top: 260px;
            left: 200px;
          }
          span:last-of-type {
            top: 275px;
            left: 350px;
          }
        }
        .h3t3 {
          top: 480px;
          right: 150px;
        }
      }
    }
  }
}

.chulon {
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 36px;
  }
  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

.section_tai_sao_noi {
  .wrapper992 {
    padding: 0 15px;
    .text {
      background-image: url($domain + "image/product/artboard_18.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 150px;
      padding: 15px;
      text-align: center;
      color: #84571B;
      font-weight: 700;
      @media (max-width: 576px) {
        font-size: 13px;
      }
    }
  }
}

.title_sph {
  text-align: center;
  background: linear-gradient(to right, #c7831b, #6e490a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  margin-bottom: 12px;
}

.hop_san_pham {
  margin-bottom: 50px;
  .wrapper {
    padding: 15px;
    position: relative;
    .hop_row_1 {
      position: relative;
      .hop_row_1_right {
        background-image: url($domain + "image/product/lonn.webp");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 250px;
        .h3 {
          color: #CC8200;
          font-weight: 700;
          text-align: center;
          display: inline-block;
          right: 15px;
          position: absolute;
          top: 40%;
          line-height: 1.5;
          @media (max-width: 435px) {
            font-size: 16px;
          }
        }
      }
    }
    .hop_row_2 {
      margin-top: 20px;
      .hop_item {
        margin-bottom: 20px;
        position: relative;
        height: 165px;
        padding-top: 15px;
        border-radius: 20px;
        background: #F2F2F2;
        .h3 {
          color: #CC8200;
          font-weight: 700;
          text-align: center;
        }
        img {
          position: absolute;
          bottom: 0;
          right: -5px;
          width: 120px;
        }
      }
    }
    .pt1 {
      position: absolute;
      left: -52px;
      bottom: -37px;
      width: 150px;
    }
    .pt2 {
      width: 70px;
      position: absolute;
      top: 55px;
      right: 75px;
    }
    .pt3 {
      width: 120px;
      position: absolute;
      top: -22px;
      right: 0px;
    }
  }
}

.dk_mua_hang {
  .content {
    .title {
      text-align: left;
      -webkit-text-fill-color: unset;
      background: unset;
      color: #84581b;
    }
  }
}

.section_thanh_phan {
  .wrapper992 {
    padding: 0 15px;
    .title_sph {
      text-transform: uppercase;
      margin-bottom: 0;
      position: relative;
      top: 0px;
    }
    .main {
      background-image: url($domain + "image/product/bgr-tp.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 250px;
      text-align: center;
      .text {
        color: #934900;
        line-height: 1.75;
        position: relative;
        top: 30px;
        padding: 0 30px;
        font-weight: 600;
        @media (max-width: 435px) {
          padding: 0 15px;
          font-size: 12px;
        }
      }
    }
  }
}

.section_dinhduong {
  margin-top: 50px;
  .wrapper {
    .w_h2 {
      background: #fefaee;
      border-radius: 20px 20px 0 0;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    }
    .title_sph {
      padding: 30px;
      margin-bottom: 0;
    }
    table {
      text-align: center;
      width: 100%;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
      thead tr {
        background: #F4DDB0;
        th {
          font-size: 20px;
          color: #916100;
          padding: 10px;
        }
      }
      tbody {
        tr {
          color: #916100;
          td {
            padding: 5px;
          }
          td:first-of-type {
            text-align: left;
            padding-left: 15%;
          }
          &:hover {
            cursor: pointer;
            background: #f7ecd0;
          }
        }
      }
      .tr_special {
        background: #f7ecd0;
        border-bottom: 5px solid white;
      }
    }
  }
}

.section_nguon_goc {
  div.h2 {
    background-image: url($domain + "image/product/artboard_26.png");
    font-weight: 600;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    position: relative;
    text-align: center;
    > span {
      background: linear-gradient(to right, #c7831b, #6e490a);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      margin-top: 15px;
      @media (max-width: 435px) {
        font-size: 15px;
      }
      @media (min-width: 768px) {
        margin-top: 5px;
      }
    }
  }
  .content {
    @media (min-width: 768px) {
      background-image: url($domain + "image/product/artboard_27.webp");
      font-weight: 600;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 800px;
    }
    @media (min-width: 992px) {
      height: 800px;
    }
    @media (min-width: 1024px) {
      height: 800px;
    }
  }
  .pc {
    position: relative;
    .b {
      .con {
        > img {
          width: 160px;
          border: 1px solid #AF7500;
          border-radius: 50%;
        }
        > span {
          color: #AF7500;
        }
      }
    }
    .b1 {
      position: relative;
      img {
        position: relative;
        top: 50px;
      }
      span {
        position: absolute;
        left: 180px;
        top: 160px;
      }
    }
    .b2 {
      position: relative;
      display: inline-block;
      right: -30%;
      top: 150px;
      > img {
        width: 160px;
        border: 1px solid #AF7500;
        border-radius: 50%;
        float: right;
      }
      > span {
        position: relative;
        top: 120px;
        color: #AF7500;
      }
    }
    .b3 {
      .con {
        position: relative;
        top: 230px;
        > img {
          position: relative;
          left: 15px;
        }
        >span {
          position: relative;
          left: 190px;
          bottom: 20px;
        }
      }
    }
  }
  .sp {
    .b {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .right {
        margin-left: 15px;
        .buoc {
          width: 100px;
        }
        > span {
          color: #AF7500;
        }
      }
      .img_left {
        width: 75px;
        border: 1px solid #AF7500;
        border-radius: 50%;
      }
    }

  }
}

.section_hdsd {
  div.h2 {
    background-image: url($domain + "image/product/artboard_25.png");
    font-weight: 600;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    position: relative;
    text-align: center;
    > span {
      background: linear-gradient(to right, #c7831b, #6e490a);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      margin-top: 15px;
      @media (max-width: 435px) {
        font-size: 15px;
      }
      @media (min-width: 768px) {
        margin-top: 5px;
      }
    }
  }
  .pc {
    .rowb3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img:first-of-type {
        width: 300px;
      }
      img:last-of-type {
        width: 150px;
      }
    }
    .buoc2 {
      width: 200px;
      margin: 0 auto;
    }
  }
  .txt {
    text-align: justify;
    font-size: 20px;
    color: #935E00;
    font-weight: 700;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
  img.mui_ten {
    margin: 0 auto;
    width: 30px;
  }
  .row {
    align-items: center;
  }
  .sp {
    .be {
      width: 250px;
      margin: 0 auto;
    }
    .buoc2 {
      width: 100px;
      margin: 0 auto;
    }
  }
}

.section_dat_tieu_chuan {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 0px;
  }
  .img1 {
    @media (max-width: 767px) {
      width: 60%;
      margin: auto;
      margin-bottom: 50px;
    }
  }
  .text {
    text-align: center;
    .title1 {
      background: linear-gradient(to right, #6E490A, #C7831B, #C5821A, #6E490A);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .h3 {
    color: #84581b;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 1.35;
    margin-top: 10px;
  }
  .line2 {
    .line {
      @media (min-width: 768px) {
        width: 75%;
      }
      margin: auto;
      text-align: left;
      .img2 {
        margin-top: 8px;
      }
    }
    .line:first-of-type {
      margin: 30px auto;
      @media (min-width: 768px) {
        margin: 50px auto;
      }
    }
  }
}

.section_cbp {
  .wrapper992 {
    position: relative;
  }
  .pt2pt {
    position: absolute;

    top: -118px;
    right: 0;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      width: 250px;
    }
    @media (min-width: 1024px) {
      width: 300px;
    }
  }
  .title_sph {
    text-align: left;
    span {
      font-size: 24px;
    }
  }
  .nguyenbaoxuong {
    position: relative;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      top: 30%;
      left: 5%;
      background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-weight: 700;
    }
  }
  .content {
    margin-top: 50px;
    .item:first-of-type {
      width: 100%;
    }
    .item {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      > img {
        width: 80px;
        object-fit: contain;
        @media (min-width: 576px) {
          width: 140px;
        }
      }
      .item_right {
        > img {
          width: 300px;
        }
        .h3 {
          background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          text-transform: uppercase;
          font-weight: 600;
        }
        .text {
          color: #84571B;
          margin-top: 20px;
          text-align: justify;
        }
      }
    }
  }
}

/* Section question */
.collapse {
  visibility: unset;
}

#accordionExample {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding-right: 15px;
}

.section_ct_toi_uu.sp {
  top: 0;
  margin-bottom: 0;
}

.accordion-button, .accordion-button:not(.collapsed), .accordion-button:focus {
  color: black;
  font-weight: 600;
  background: #e5e5e5;
  border: none;
  border-radius: 12px !important;
  box-shadow: none;
  margin-bottom: 20px;
}

.accordion-item {
  border: none;
  margin-bottom: 20px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url($domain + "image/product/9.png");
}

.accordion-button::after {
  background-image: url($domain + "image/product/10.png");
}
.accordion-body {
  padding-top: 0;
  color: #916100;
}
//.accordion-button > div > span {
//  font-size: 18px;
//  color: #935E00;
//}
.accordion-button {
  color: #916100 !important;
}

.section_question {
  margin-bottom: 30px;
}

.section_question .main_question {
  background-image: url($domain + "image/product/bgr-wm.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 25px 20px 35px 20px;
  .question_head {
    padding: 25px 0 20px;
    .cauhoi {
      padding-left: 150px;
    }
    span {
      color: white;
      font-size: 24px;
      padding-left: 50px;
      font-weight: 700;
    }
  }
  .question_content {
    .list_question {
      max-height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: justify;
      padding-top: 10px;
      .question_item {
        padding: 7px 15px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        cursor: pointer;
        .user_img {
          img {
            object-fit: contain;
            width: 200px;
            border-radius: 50%;
            position: relative;
            top: 15px;
          }
        }
        .content_question {
          .user_name {
            color: #935E00;
            font-size: 20px;
            font-weight: 600;
          }
          .q {
            text-align: justify;
            color: #916100;
          }
        }
      }
    }
    .answer {
      padding-top: 30px;
      line-height: 2;
      color: #916100;
      max-height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: justify;
      display: none;
    }
    .answer_0 {
      display: block;
    }
  }
}
/* End section question */


@media (min-width: 435px) {
  .hop_san_pham {
    .wrapper {
      .hop_row_1 {
        .hop_row_1_right {
          height: 350px;
          .h3 {
            right: 20px;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .hop_san_pham {
    margin-bottom: 50px;
    .wrapper {
      padding: 40px 60px;
      .hop_row_1 {
        .hop_row_1_right {
          height: 450px;
          .h3 {
            right: 100px;
          }
        }
      }
      .hop_row_2 {
        .pt3 {
          width: 150px;
          position: absolute;
          top: -22px;
          right: -35px;
        }
        .pt2 {
          width: 111px;
          position: absolute;
          top: 30px;
          right: 160px;
        }
        .pt1 {
          position: absolute;
          left: -80px;
          bottom: -60px;
          width: 229px;
        }
        .hop_item {
          height: 270px;
          img {
            position: absolute;
            bottom: 0;
            right: -5px;
            width: 250px;
          }
        }
      }
    }
  }

  .section_thanh_phan {
    .wrapper {
      padding: 0 100px;
      .title_sph {
        top: 4px;
      }
      .main {
        .text {
          padding: 0 30px;
        }
      }
    }
  }

  .section_tai_sao_noi {
    .wrapper992 {
      .text {
        background-image: url($domain + "image/product/artboard_18.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 150px;
        padding: 20px 50px;
        text-align: center;
        color: #84571B;
        font-weight: 700;
        line-height: 2;
      }
    }
  }

  .section_cac_buoc_tang_cc {
    margin-top: 50px;
    .wrapper {
      .buoc_title {
        width: 50%;
        .h3 {
          top: -30px;
          font-weight: 700;
        }
      }
    }
  }

  .section_cbp {
    .title_sph {
      span {
        font-size: 36px;
      }
    }
    .nguyenbaoxuong {
      img {
        width: 75%;
      }
    }
    .content {
      margin-top: 100px;
      padding-right: 35px;
      .item:first-of-type {
        width: 70%;
      }
      .item {
        gap: 24px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 992px) {
  .section_tai_sao_noi {
    .wrapper992 {
      .text {
        background-image: url($domain + "image/product/artboard_18.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 150px;
        padding: 35px 50px;
        text-align: center;
        color: #84571B;
        font-weight: 700;
        line-height: 2;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hop_san_pham {
    .wrapper {
      .hop_row_1 {
        .hop_row_1_right {
          height: 562px;
        }
      }
    }
  }
  .section_thanh_phan {
    .wrapper {
      .title_sph {
        font-size: 40px;
        top: -5px;
      }
    }
  }

  .section_cac_buoc_tang_cc {
    .wrapper {
      .title_sph {
        font-size: 60px;
      }
    }
  }
  .section_cbp {
    .wrapper992 {
    }
    .title_sph {
      span {
        font-size: 60px;
      }
    }
    .nguyenbaoxuong {
      img {
        width: 50%;
      }
      span {
        top: 10px;
      }
    }
    .content {
      .item:first-of-type {
        width: 70%;
      }
    }
  }
}
@media (min-width: 1400px) {

}
@media (min-width: 1600px) {

}
@media (min-width: 1800px) {

}
