.section-product-detail {
  background: url("./image/page-chi-tiet-san-pham/chi-tiet-san-pham.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 40px 0 60px;

  .buy-now {
    display: inline-block;
    font-size: 15px;
    background: #097714;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    &:hover {
      color: #5abb46;
    }
  }
}
