/* Main slider */
.section-main-slider {
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    li {
      margin: 0 5px;
    }
    button {
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #000;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: #000;
      opacity: 0.5;
    }
  }
  .slick-slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
/* End main slider */

/* Share slider */
.share-slide .slick-dots {
  margin: 25px 0 15px;
  button {
    background: #00a752;
  }
  li.slick-active button {
    background: #00a752 !important;
  }
  .slick-active button:before {
    background: #fff;
  }
}
/* End share slider */


/* Section polite */
.polite-slide {
  background: linear-gradient(150deg, #8cc542, #37b54a);
  .slick-dots {
    button {
      background: white;
    }
    li.slick-active button {
      background: white !important;
    }
    .slick-active button:before {
      background: #00a752;
    }
  }
}
/* End section polite */


.request-question-now {
  text-align: center;
  color: white;
  margin: 0 20px 0px 15px;
  padding: 15px 30px;
  position: absolute;
  bottom: 20px;
  max-width: 100%;
  border: 3px solid #fff;
}

@media (max-width: 639px) {
  .request-question-now {
    margin: 0;
    padding: 5px 15px;
    position: absolute;
    width: auto;
  }
}

@media (min-width: 639px) {
  .request-question-now {
    bottom: 100px;
  }
}

.request-question-now:hover {
  border: 3px solid green;
  background: white;
  color: green;
  font-weight: 700;
}

.section-polite .polite-slide img {
  width: 75% !important;
  margin-left: 15px;
}

/* End section polite */

/* Section product */
.section-product {
  .slick-track {
    display: flex;
  }
  .slick-track .slick-slide {
    display: flex;
    height: auto;
  }
  .slick-slide img {
    object-fit: contain;
    object-position: center;
  }
  .product-slide {
    padding: 0 30px;
  }
  .slick-dots {
    margin-top: 30px;

  }
  .wrapper {
    position: relative;
  }
  .m7 {
    position: relative;
    top: -30px;

    img {
      width: 50% !important;
      position: relative;
      left: 50px;
    }
  }
  img.bg {
    padding: 0 12px;
    height: 100% !important;
  }
  .product-slide-arrow {
    top: 50%;
    z-index: 1;
    opacity: 0.75;
    position: absolute;
    &:hover {
      opacity: 1 !important;
    }
  }
  #product-slide-arrow-right {
    right: 10px;
  }
  #product-slide-arrow-left {
    left: -6px;
  }
}

@media (max-width: 1024px) {
  .product-slide-item img.h-full {
    height: 100% !important;
  }
}
/* End section product */

/* Section history */
.section-history {
  border-radius: 20px;
  background: url("../../image/home/bg-lich-su-2.jpg") no-repeat center center;
  background-size: cover;
  padding: 80px 0 120px;
  margin-right: 0 !important;
  .wrapper {
    position: relative;
    .history-slide-dots {
      i {
        position: absolute;
        top: 50%;
        z-index: 1;
      }
      i:first-of-type {
        left: 0px;
      }
      i:last-of-type {
        right:  0px;
      }
    }
    .history-header {
      img {
        position: relative;
        top: -35px;
      }
    }
    .history-item {
      padding: 0 55px;
      .box {
        background: linear-gradient(150deg, #8bc541, #39b54a);
        background: -moz-linear-gradient(150deg, #8bc541, #39b54a);
        margin: 0;
        border-radius: 10px;
        padding: 20px 10px 30px;
        height: 235px;
        text-align: center;
        img {
          height: 106px !important;
          display: inline;
          margin-bottom: 15px;
          border-radius: 8px;
        }
      }
      .tamgiac {
        display: block;
        margin: -3px auto 0px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 50px solid #3db650;
        .fa {
          margin-top: 10px;
          margin-left: -13px;
          color: #097716;
        }
      }
      .empty {
        margin-top: 40px;
        text-align: center;
        p {
          color: #039be5;
          font-size: 18px;
          font-weight: 700;
          a {
            color: #039be5;
            &:hover {
              text-decoration: none !important;
              color: #5abb46 !important;
            }
          }
        }
      }
    }
  }
}

.slide-arrows > i {
    position: absolute;
    top: 50%;
}
/* End section product */


