.page_404 {
  padding: 40px;
}
@media (min-width: 1200px) {
  .page_404 {
    padding-top: 150px;
  }
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("../image/404.gif");
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  padding: 10px 20px;
  background-image: linear-gradient(180deg, #4DABB5, #2C5D6C);
  margin: 20px 0;
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  max-width: 100%;
  border: 3px solid #fff;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
.link_404:hover {
  color: white;
  opacity: 0.85;
}

.contant_box_404 {
  margin-top: -50px;
}
