/*.pagination {*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*padding-left: 0;*/
    /*list-style: none;*/
    /*border-radius: 2px;*/
    /*justify-content: center;*/
/*}*/


ul.pagination {
    display: flex;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.25rem 0.55rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4F4F4F;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 14px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2C5D6C;
    border-color: #2C5D6C;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (max-width: 767.9px) {
    .page-link {
        padding: 0px;
        width: 25px;
        font-size: 15px;
        text-align: center;
        line-height: unset;
    }

    /*.pagination {*/
        /*width: 90%;*/
    /*}*/
}
