@charset "UTF-8";
/* Common css */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #fffef7;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

/* Heading home page */
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3.2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}
/* End heading home page */
/* Dot circle inside */
.dot-circle-inside .slick-slide img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.dot-circle-inside .slick-dots li {
  margin: 0 5px;
}

.dot-circle-inside .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.dot-circle-inside .slick-dots li button:before {
  content: "•";
}

.dot-circle-inside .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-indent: -9999px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #00a752;
}

.dot-circle-inside .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #00a752 !important;
}
@media (min-width: 1200px) {
  .dot-circle-inside .slick-dots li.slick-active button {
    width: 23px;
    height: 23px;
  }
}

.dot-circle-inside .slick-dots .slick-active button:before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
  display: inline-block;
  background: white;
}
@media (min-width: 1200px) {
  .dot-circle-inside .slick-dots .slick-active button:before {
    width: 12px;
    height: 12px;
    left: 5px;
    top: 5px;
  }
}

/* End dot circle inside */
.wrapper {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .wrapper {
    max-width: 1200px !important;
    width: 100% !important;
  }
}

h2.title {
  color: #3594A6;
  text-align: center;
  margin: 30px 0;
  font-family: "Montserrat-Bold", sans-serif;
}

/* End common css */
.ellipsis-text-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-text-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-text-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis-text-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bold {
  font-weight: 600 !important;
}

footer .footer_top {
  background: linear-gradient(to right, #be8d48, #f2d58d, #be833d);
}
footer .footer_top .wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
footer .footer_top .wrapper img {
  position: relative;
  top: -8px;
}
footer .footer_top .wrapper h3 {
  color: #0D4856;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 576px) {
  footer .footer_top .wrapper h3 {
    font-size: 12px;
  }
}
footer .footer_top .wrapper h3 a {
  color: #84571B;
}
footer .footer_top .wrapper h3 a:hover {
  color: #84571B;
}
footer .footer_top .wrapper h3:first-of-type {
  margin-right: 15px;
}
@media (min-width: 768px) {
  footer .footer_top .wrapper h3:first-of-type {
    margin-right: 45px;
    margin-left: 45px;
  }
}
@media (max-width: 576px) {
  footer .footer_top .wrapper img {
    width: 40%;
  }
}
footer .pc {
  display: none;
}
@media (min-width: 577px) {
  footer .pc {
    display: block;
  }
}
footer .sp {
  display: none;
}
@media (max-width: 576px) {
  footer .sp {
    display: block;
  }
}
footer .footer_bottom {
  position: relative;
  color: white;
  padding: 30px 15px;
  background: #000;
  opacity: 0.95;
}
footer .footer_bottom:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  color: white;
  background-image: url("https://wowtop.vn/wowtop/assets/image/bg-footer.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer .footer_bottom .footer_title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
footer .footer_bottom .see_all {
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 1px 1px 1px;
}
footer .footer_bottom .social {
  margin-bottom: 45px;
}
footer .footer_bottom .social a {
  margin-right: 12px;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-size: 24px;
}
footer .footer_bottom .more p {
  font-weight: 600;
}
footer .footer_bottom .more ul {
  list-style: disc;
  padding-left: 30px;
}
footer .footer_bottom ul li {
  color: white;
  margin-bottom: 15px;
}
footer .footer_bottom ul li a {
  color: white;
}
footer .footer_bottom ul li a:hover {
  color: white;
  opacity: 0.85;
}

.pr-0 {
  padding-right: 0;
}

.sp {
  display: none;
}
@media (max-width: 768px) {
  .sp {
    display: block;
  }
}

.pc {
  display: none;
}
@media (min-width: 769px) {
  .pc {
    display: block;
  }
}

@media (min-width: 1400px) {
  .container-main {
    width: 1200px;
  }
}
header {
  background: #FFFEF7;
}
header .header__main .header__menu .main-menu {
  margin-right: 0;
}
header .header__main .header__menu .main-menu ul li a {
  font-size: 12px;
  height: auto;
  color: white;
  font-weight: 600;
}
@media (min-width: 1200px) {
  header .header__main .header__menu .main-menu ul li a {
    font-size: 15px;
  }
}
header .header__main .header__menu .main-menu ul li a:hover {
  opacity: 0.75;
}
header .header__hotline a > span {
  color: #4F4F4F;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 1200px) {
  header .header__hotline a > span {
    font-size: 16px;
    color: #643D14;
  }
}

header {
  margin-bottom: 50px;
}
header .header__top {
  margin-top: 0;
  padding: 25px 0 10px;
}
header .header__main {
  background: linear-gradient(to right, #89601B, #F0D284, #F2CD77, #92651C, #EAC775);
  padding: 25px 0;
}
header .dk_dung_thu {
  color: #996E30 !important;
  background: linear-gradient(to right, #BD9840, #FEF0AD, #EABD54, #EABD54);
  border-radius: 50px;
  padding: 6px 8px !important;
}
header .sub_menu a {
  color: #643D14 !important;
}
header .sub_menu a:hover {
  color: #643D14 !important;
}

.header.is-sticky .header__main {
  background: linear-gradient(to right, #89601B, #F0D284, #F2CD77, #92651C, #EAC775);
  padding: 25px 0;
}

.section-main {
  position: relative;
  z-index: 0;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .section-main {
    padding-top: 150px;
  }
}

/* SELECT2 */
.select2-container--default .select2-selection--single {
  border-radius: 2px;
  border: 1px solid #e9ecef;
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.my-select2 .select2 {
  width: 100% !important;
}

#form-search .select2-container--default .select2-selection--single {
  height: 34px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0 4px 0 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}

.header-mobile__logo-mb img {
  max-height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-height: 1200px) {
  .header-mobile__logo-mb img {
    max-height: 60px;
  }
}

@media (max-width: 576px) {
  footer .footer_top img {
    margin-right: 6px;
  }
}
.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120% !important;
  max-width: 120% !important;
  position: relative;
  top: 14px;
}

header .header__main .header__menu .main-menu ul li a:hover {
  color: white;
}

.wrapper992 {
  margin: 0 auto;
  height: 100%;
  width: 992px;
  padding: 0 15px;
}
@media (max-width: 992px) {
  .wrapper992 {
    max-width: 992px !important;
    width: 100% !important;
  }
}
